# Ignore everything
*

# Allow directories to be traversed
!*/

# Keep the JUCE project file
!*.jucer

# Keep Source and everything inside it
!Source/
!Source/**

# Optional: keep .gitignore itself
!.gitignore